.search-list {
    width: 80%;
    margin: 0 auto;
  }
  
  .search-item {
    display: flex;
    align-items: center;
    border: 1px solid gray;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
  }
  
  .search-item:hover{
    background-color: lightgray;
  }
  
  .search-item img{
    width: 20%;
    height: 20%;
    min-width: 100px;
    min-height: 100px;
    border-radius: 10px;
  }
  
  .search-info {
    margin-left: 10px;
    width: 100%;
    text-align: center;
  }
  
  .search-name {
    text-decoration: underline;
  }
  
  .search-activity {
    margin: 0;
  }