.photo-gallery {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.gallery-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items:  center;
    width: 80%;
    margin: 0 auto;
}
  
.gallery-container img {
    background-color: #f1f1f1;
    width: 20%;
    height: 180px;
    min-width: 150px;
    margin: 10px 0;
}